In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/rachelgrigiac/Documents/CareerFoundry/BIXI Project Analysis'

In [3]:
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'bixitrips_weather.pkl'))

In [5]:
pd.set_option('display.float_format', lambda x: '{:.2f}'.format(x))

In [6]:
df.describe()

,start_station_code,end_station_code,duration_sec,yearid,prectot,rh2m,t2m,t2m_max,t2m_min,t2m_range,ws10m,ws10m_min,ws10m_max,ws10m_range,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude
count,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00,28537336.00
mean,6319.18,6315.29,818.68,2017.23,2.31,76.54,16.07,21.18,10.73,10.46,3.18,1.78,4.58,2.80,45.52,-73.58,45.52,-73.58
std,376.86,388.33,641.00,1.87,4.04,8.07,6.02,6.20,6.00,2.58,1.11,0.89,1.61,1.24,0.02,0.02,0.02,0.02
min,4000.00,4000.00,-3540.00,2014.00,0.00,55.20,-10.54,-8.20,-14.31,2.00,0.75,0.01,1.54,0.71,45.42,-73.74,45.42,-73.74
25%,6113.00,6099.00,360.00,2016.00,0.19,70.25,12.27,17.54,6.70,8.75,2.40,1.13,3.34,1.92,45.50,-73.59,45.50,-73.59
50%,6206.00,6200.00,660.00,2017.00,0.80,76.26,17.25,22.53,11.67,10.49,3.05,1.87,4.30,2.55,45.52,-73.58,45.52,-73.58
75%,6383.00,6389.00,1080.00,2019.00,2.49,82.12,20.67,25.87,15.38,12.16,3.87,2.36,5.61,3.43,45.53,-73.57,45.53,-73.56
max,10002.00,10002.00,7200.00,2020.00,42.09,100.00,28.39,34.38,22.58,22.06,9.02,6.86,13.19,10.96,45.65,-73.49,45.65,-73.49